.login-hero{
    display: flex;
    align-items: center;
    justify-content:center;
    height: 100%;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, #000000 100%), url(../assets/main/introSection-bgWrapper.png);

    @include fluidpadding(0rem, 5rem);

    @media screen and (max-width: 768px){
        background: #2e2e2e;
    }

    .login-container{
        min-height: 15rem;
        @include fluidminwidth(28rem, 52rem);
        @include fluidpaddingx(2rem, 4rem);
        padding-top: 4rem;
        padding-bottom: 4rem;
        border-radius: .8rem;

        background-color: #2e2e2e;
        
        .login-title{
            width: 100%;
            text-align: center;

            h1{
                @include titilliumWeb();
                @include fluidfontsize(2.4rem, 2.8rem);
                font-weight: 300;
                letter-spacing: .7px;
            }

            h2{
                @include fluidfontsize(1.4rem, 1.6rem);
                color: #72767D;
                font-weight: 600;
                letter-spacing: .7px;
            }
        }

        .login-body{
            width: 100%;

            .login-row{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                @include fluidminheight(6rem, 8.5rem);
                width: 100%;

                &.login-submit{
                    justify-content: flex-end;
                }

                .text-label{
                    position: absolute;
                    z-index: 1;
                    color: map-get($theme-colors, "paragraph-main");
                    @include fluidfontsize(1.2rem, 1.6rem);
                    transition:0.2s ease all;
                    margin-bottom: 0 !important;
                }
        
                .form-input-login{
                    display: block;
                    position: relative;
                    z-index: 2;
                    background: none;
                    border: none;
                    border-bottom: 1px solid map-get($theme-colors, "paragraph-main");
                    background-color: transparent;
                    width: 100%;
                    @include paragraphMain();
                    margin-bottom: 0;
                    transition:0.2s ease all;
        
                    &:focus, &:not(:placeholder-shown){
                        outline: none;
                        border-bottom: 1px solid map-get($theme-colors, "secondary-light" )
                    }
        
                    &:focus+.text-label, &:not(:placeholder-shown)+.text-label{
                        color: map-get($theme-colors, "secondary-light");
                        font-size: 11px;
                        transform: translateY(-20px);
                    }
                }
            }
        }
    }
}