.dashboard-content{
    // Sizing, Margin, Padding
    width: 100%;
    height: 100%;
    @include fluidpadding(1.75rem, 3rem);

    // Scrolling
    overflow-y: scroll;

    &::-webkit-scrollbar{
        @include fluidwidth(.5rem, .8rem);
    }

    &::-webkit-scrollbar-track{
        background: transparent;
    }

    &::-webkit-scrollbar-thumb{
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 2.5px;
        transition: all 0.2s;

        &:hover{
            background-color: rgba(255, 255, 255, 0.3);
        }
    }

    // TABLE
    // ================

    .dashboard-table{
        width: 100%;
        overflow-x: auto;

        @media screen and (max-width: 960px){
            overflow-x: scroll;
        }

        table{
            width: 100%;

            tr{ 
                &:first-child{
                    background-color: #060606;
                }

                &:nth-child(even){
                    background-color: #242424;
                }

                th{
                    min-height: 3.6rem;
                    @include fluidpaddingy(1.25rem, 1.5rem);
                    @include fluidpaddingx(1.25rem, 1.5rem);
                }

                td{
                    min-height: 3.6rem;
                    @include fluidpaddingy(1.25rem, 1.5rem);
                    @include fluidpaddingx(1.25rem, 1.5rem);

                    &:not(:first-child){
                        min-width: 15rem;
                    }
                }
            }
        }
    }

    // .dashboard-table{
    //     display: flex;
    //     flex-direction: column;
    //     width: 100%;
    //     overflow-x : scroll;

    //     .dashboard-table-header{
    //         // display: flex;
    //         // flex-direction: row;
    //         display: grid;
    //         grid-template: 
    //             [row-1-start] "header header" 2rem 1fr [row-1-end]
    //             [row-2-start] "main main" 2rem 1fr [row-2-end] /
    //             auto auto;

    //         background-color: #060606;
            
    //         .dashboard-table-data{
    //             width: auto;
    //             flex-wrap: nowrap;
    //         }
    //     }
    // }

    // CONTENT
    //  1. landing
    // ================
    @import 'contentModules/landing';

    //  2. registration
    // ================
    @import 'contentModules/registration';

    //  3. announcement
    // ================
    @import 'contentModules/announcement';

    //  4. press
    // ================
    @import 'contentModules/press';
}