a{
    color: #ffffff;
}

a:hover{
    text-decoration: none;
    color: map-get($theme-colors, "secondary-light" )
}

a:active{
    text-decoration: none;
    color: map-get($theme-colors, "secondary" )
}